body {
  margin: 0;
  padding: 0;
  font-family: "roboto", arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;
  color: #ffffff;
  background-color: #849d8f;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

.header-navigation {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #849d8f;
}

.site-navigation,
.user-navigation,
.catalog-item,
.footer-navigation,
.footer-social {
  list-style: none;
}

.search,
.login-link,
.cart {
  background-color: #a1b4a9;
}

.site-navigation a,
.user-navigation a,
.footer-navigation a,
.footer-copyright a,
.footer-copyright b {
  color: #ffffff;
}

.user-navigation a:hover,
.user-navigation a:focus,
.site-navigation a:hover,
.site-navigation a:focus,
.footer-navigation a:hover,
.footer-navigation a:focus,
.footer-copyright a:hover,
.footer-copyright a:focus {
  background-color: #ffffff;
  color: black;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
  box-sizing: border-box;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  min-height: 220px;

  padding: 0;
  margin-bottom: 40px;
}

.header {
  margin-bottom: 0; /* не совсем понятно, какой отступ, т.к. следующий блок заезжает на него */
}

.header-navigation {
  min-height: 114px;
  display: flex;
  align-items: center;
}

.header-logo {
  width: 156px;
  min-height: 75px;
  margin-right: 25px;
}

.site-navigation {
  margin: 0 25px 0 0;
  padding: 0;
  width: 687px;
}

.user-navigation {
  margin: 0 0 0 auto;
  padding: 0;
  width: 294px;
}

.header-contacts {
  font-size: 14px;
  line-height: 16px;
  color: white;

  width: 100%;
  text-align: right;
}

.header-contacts span {
  font-size: 22px;
  line-height: 24px;
}

.main {
  font-size: 16px;
  line-height: 22px;
  color: black;
  font-weight: 400;
}

.features {
  background-color: #f8f5f2;
  background-image: url("../img/wafer-pattern.jpg");
  background-repeat: repeat;

  padding: 20px;
  height: 310px;
  margin-bottom: 40px;
  border-radius: 15px;
}

.features p:first-child {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features-list {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.feature-item {
  text-align: left;

  flex-basis: 50%;
}

.feature-item-ice-cream,
.feature-item-eco {
  padding-right: 25px;
}

.feature-item-ice-cream:before {
  display: block;
  content: '';

  background-image: url("../img/ice-cream.svg");
  height: 49px;
  width: 49px;
}

.feature-item-eco:before {
  display: block;
  content: '';

  background-image: url("../img/eco.svg");
  height: 49px;
  width: 49px;
}

.feature-item-cow:before {
  display: block;
  content: '';

  background-image: url("../img/cow.svg");
  height: 49px;
  width: 49px;
}

.feature-item-thermometer:before {
  display: block;
  content: '';

  background-image: url("../img/thermometer.svg");
  height: 49px;
  width: 49px;
}

.new-articles {
  background-color: #f8f5f2;
  background-image: url("../img/strawberry-background.png");
  background-repeat: no-repeat;

  width: 560px;
  border-radius: 15px;
  padding: 27px 20px;
  box-sizing: border-box;
}

.new-articles h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;

  margin: 0;
  padding: 0;
}

.new-articles a {
  font-size: 24px;
  line-height: 30px;
  color: black;
  font-weight: bold;
  text-decoration: underline;

  display: block;
  width: 290px;
}

.appointment {
  background-color: #f8f5f2;
  background-image: url("../img/bg-post.svg");
  background-repeat: no-repeat;

  display: flex;
  width: 560px;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 5px;
}

.appointment-item {
  border-radius: 15px;
  background-color: #f8f7f4;
  padding: 35px 20px;
}

.appointment-info {
  margin: 0;
}

.footer {
  display: flex;
  margin-top: 30px;
  padding-top: 18px;
  padding-bottom: 25px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-social {
  width: 267px;
  padding: 0;
  margin: 0 26px 0;
}

.footer-navigation {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;

  width: 560px;
  margin: 0 26px 0;
  padding: 0;
}

.footer-copyright {
  width: 267px;
  margin: 0;
  padding: 0;
  text-align: right;
}

.footer-copyright b {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.accent-footer-link {
  font-weight: bold;
}

.search-form,
.login-form,
.modal,
.visually-hidden,
.inner-page .cart {
  display: none;
}

.page-title {
  margin: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: white;
}

.catalog-item {
  display: none;
  font-size: 14px;
  line-height: 16px;
  background-color: #ffffff;
}

.catalog-item a {
  color: black;
  font-weight: 400;
}

.catalog-item a:hover,
.catalog-item a:focus {
  background-color: #ffbc9e;
}

.breadcrumbs {
  list-style: none;

  margin: 0;
  padding: 0;
}

.breadcrumbs a {
  color: white;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.breadcrumbs-current {
  color: #aba9a7;
}

.product {
  /*width: 267px;*/
  flex-basis: 25%;
  margin-top: 39px;
  text-align: center;
}

.product a {
  color: white;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.product h3 {
  margin: 0;
}

.product-image img {
  border-radius: 50%;
}

.product-list {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.product-price {
  color: white;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.weight {
  font-size: 30px;
}

.social-button {
  color: #ffffff;
}






