body {
  margin: 0;
  padding: 0;
  font-family: "roboto", arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: bold;

  background-color: #849d8f;
  color: #ffffff;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 27px;
  box-sizing: border-box;
}

.modal {
  position: fixed;
  z-index: 1;

  background-color: #f8f7f4;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.button {
  height: 45px;
  border-radius: 23px;

  background-color: #ee5d3e;
  border: 0;
  background-image: linear-gradient(0deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);

  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  color: white;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.button:hover,
.button:focus {
  background-image: linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.004);
}

.header {
  margin-bottom: 0; /* не совсем понятно, какой отступ, т.к. следующий блок заезжает на него */
}

.site-navigation,
.user-navigation,
.catalog-item,
.footer-navigation,
.footer-social {
  list-style: none;
}

.site-navigation a,
.footer-navigation a,
.footer-copyright a,
.footer-copyright b {
  color: #ffffff;
}

.user-navigation a:hover,
.user-navigation a:focus,
.site-navigation a:hover,
.site-navigation a:focus {
  background-color: #ffffff;
  border-radius: 15px;
  color: black;
}

.site-navigation,
.user-navigation {
  display: flex;
  flex-wrap: wrap;
}

.site-navigation a {
  display: block;
  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.3);
  padding: 7px 15px;
}

.site-navigation-item:hover .catalog-item {
  display: block;
}

.header-navigation {
  min-height: 65px;
  display: flex;
  align-items: center;
  padding-top: 10px;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: transparent;
}

.header-logo {
  width: 156px;
  min-height: 68px;
  margin-right: 10px;
}

.site-navigation {
  margin: 0 25px 0 0;
  padding: 0;
  width: 687px;
}

.site-navigation li:first-child {
  position: relative;
}

.catalog-item {
  display: none;
  position: absolute;
  z-index: 1;
  padding: 0;
  top: 40px;
  left: 0px;

  width: 145px;
  border-radius: 5px;
  font-size: 14px;
  line-height: 16px;

  background-color: #ffffff;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
}

.catalog-item li:first-child {
  font-weight: 700;
  padding-top: 6px;
  border-bottom: black;
}

.catalog-item li:last-child {
  padding-bottom: 12px;
}

.catalog-item a {
  padding: 6px 19px;
  color: black;
  font-weight: 400;
}

.catalog-item a:hover,
.catalog-item a:focus {
  background-color: #fbded8;
  border-radius: unset;
}

.catalog-item .catalog-item-new {
  font-weight: 700;
}

.catalog-item-new::after {
  content: "";

  position: absolute;
  bottom: 0px;
  left: 7px;

  width: 128px;
  height: 1px;

  background-color: black;
  opacity: 0.2;
}


.user-navigation {
  justify-content: flex-end;

  margin: 0 0 0 auto;
  padding: 0;
  width: 294px;
}

.search {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 34px;
  height: 34px;

  padding: 0;

  border: 0;
  border-radius: 50%;
  margin-right: 10px;
}

.search:hover,
.search:focus {
  background-color: white;
}

.search,
.login-link,
.cart {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
}

.search:hover path,
.search:focus path {
  fill: black;
}

.search-form {
  display: none;
  position: absolute;

  top: 38px;
  left: -310px;

  width: 340px;
  min-height: 80px;

}

.search-form p {
  display: block;

  margin: 20px 15px;
}

.search-form input[type="text"] {
  box-sizing: border-box;
  width: 310px;
  padding: 15px 15px;

  border: 0;
  box-shadow: 0 0 0 1px #9a9a9a;
  border-radius: 5px;

  color: #999999;
}

.search-form input:hover {
  border: 0;
  box-shadow: 0 0 0 2px #9a9a9a;
  border-radius: 5px;
}

.header-contacts {
  font-size: 14px;
  line-height: 16px;
  color: white;

  width: 100%;
  text-align: right;
}

.header-contacts span {
  font-size: 22px;
  line-height: 24px;
}

.user-navigation .login-link {
  display: flex;
  padding: 7px 15px;
  border-radius: 15px;
  margin-right: 10px;
}

.login-link svg {
  display: block;
  margin-right: 6px;
  fill: currentColor;
}

.login-form {
  top: 64px;
  left: 70%;
  padding: 20px;

  width: 240px;
  display: none;
}

.login-form p {
  margin: 0;
  margin-bottom: 20px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 15px;

  font-size: 14px;
  line-height: 24px;

  border: 0;
  box-shadow: 0 0 0 1px #9a9a9a;
  border-radius: 5px;

  color: #9a9a9a;
}

.login-form input:hover {
  box-shadow: 0 0 0 2px #9a9a9a;
  border-radius: 5px;
}

.login-form .login-help {
  display: flex;

  justify-content: space-between;
}

.login-help-restore a:hover,
.login-help-restore a:focus {
  background-color: transparent;
  color: #e84d37;
}

.button-entrance {
  width: 100px;
}

.login-help-restore {
  display: flex;
  flex-direction: column;
}

.restore {
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;

  color: black;
  text-decoration: underline;
}

.user-navigation .cart {
  display: flex;
  padding: 7px 15px;
  border-radius: 15px;
}

.cart svg {
  display: block;
  margin-right: 6px;
  fill: currentColor;
}


.index-columns {
  display: flex;
  justify-content: space-between;

  padding: 0;
  margin-bottom: 40px;
}

.main {
  font-size: 16px;
  line-height: 22px;
  color: black;
  font-weight: 400;
}

.slider-wrapper {
  min-width: 940px;

  background-color: transparent;
  background-image: url("../img/ice-1.png");
  background-repeat: no-repeat;
  background-position: top center;

  min-height: 881px;
  padding: 394px 0 0;
  box-sizing: border-box;
  margin: -119px 0 -232px;

  transition: background-image 0.5s ease;
}

.slider-wrapper::before,
.slider-wrapper::after {
  content: "";

  visibility: hidden;
}

.slider-wrapper::before {
  background-image: url("../img/ice-2.png");
}

.slider-wrapper::after {
  background-image: url("../img/ice-3.png");
}

.slider {
  position: relative;

  text-align: center;
  color: #ffffff;
}

.slider:before {
  content: '';
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slide-button {
  display: inline-block;
  padding: 12px 44px;

  font-weight: 600;
  font-size: 31px;
  line-height: 41px;

  border-radius: 50px;

  vertical-align: top;
  text-decoration: none;

  cursor: pointer;
}

.slider-controls {
  position: absolute;
  bottom: 24px;
  left: 0;
  z-index: 20;

  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;

  vertical-align: top;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#ice-1:checked ~ .main-wrapper .slider-wrapper {
  background-image: url("../img/ice-1.png");
}

#ice-2:checked ~ .main-wrapper .slider-wrapper {
  background-image: url("../img/ice-2.png");
}

#ice-3:checked ~ .main-wrapper .slider-wrapper {
  background-image: url("../img/ice-3.png");
}

#ice-1:checked ~ .main-wrapper {
  background-color: #849d8f;
}

#ice-2:checked ~ .main-wrapper {
  background-color: #8996a6;
}

#ice-3:checked ~ .main-wrapper {
  background-color: #9d8b84;
}

#ice-1:checked ~ .main-wrapper #slide1,
#ice-2:checked ~ .main-wrapper #slide2,
#ice-3:checked ~ .main-wrapper #slide3 {
  display: block;
}

#ice-1:checked ~ .main-wrapper label[for="ice-1"],
#ice-2:checked ~ .main-wrapper label[for="ice-2"],
#ice-3:checked ~ .main-wrapper label[for="ice-3"] {
  background-color: #ffffff;
}

.sale-raspberry {
  background-color: #f8f5f2;
  background-image: url("../img/raspberries-background.png");
  background-repeat: no-repeat;
  text-align: right;

  width: 560px;
  border-radius: 15px;
  padding: 17px 20px 23px 18px;
  box-sizing: border-box;
}

.sale-raspberry h2 {
  color: white;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  text-align: left;

  margin: 0 0 14px;
  padding: 0;
}

.sale-raspberry p {
  color: white;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  text-align: left;

}

.button-raspberry {
  margin-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.sale-chocolate {
  background-color: #f8f5f2;
  background-image: url("../img/chocolate-background.png");
  background-repeat: no-repeat;

  text-align: right;

  width: 560px;
  border-radius: 15px;
  padding: 17px 20px 23px 18px;
  box-sizing: border-box;
}

.sale-chocolate h2 {
  color: white;

  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  text-align: left;

  margin: 0 0 14px;
  padding: 0;
}

.sale-chocolate p {
  color: white;

  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  text-align: left;
}

.button-chocolate {
  margin-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}

.hit-list .product {
  position: relative;
}

.hit-list .product::before {
  display: block;
  content: '';

  z-index: 1;

  position: absolute;
  top: 13px;
  left: 2px;

  background-image: url("../img/hit.svg");
  height: 61px;
  width: 61px;
}

.features {
  background-color: #f8f5f2;
  background-image: url("../img/wafer-pattern.jpg");
  background-repeat: repeat;

  padding: 20px;
  height: 310px;
  margin-bottom: 40px;
  border-radius: 15px;
}

.features p:first-child {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}

.features-list {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.feature-item {
  text-align: left;

  flex-basis: 50%;
}

.feature-item-ice-cream,
.feature-item-eco {
  position: relative;

  padding-left: 56px;
  padding-top: 23px;
  padding-right: 25px;
}

.feature-item-cow,
.feature-item-thermometer {
  position: relative;

  padding-left: 56px;
  padding-top: 23px;
}

.feature-item-ice-cream:before {
  display: block;
  content: '';

  position: absolute;
  top: 7px;
  left: 0px;

  background-image: url("../img/ice-cream.svg");
  height: 49px;
  width: 49px;
}

.feature-item-eco:before {
  display: block;
  content: '';

  position: absolute;
  top: 7px;
  left: 0px;

  background-image: url("../img/eco.svg");
  height: 49px;
  width: 49px;
}

.feature-item-cow:before {
  display: block;
  content: '';

  position: absolute;
  top: 7px;
  left: 0px;

  background-image: url("../img/cow.svg");
  height: 49px;
  width: 49px;
}

.feature-item-thermometer:before {
  display: block;
  content: '';

  position: absolute;
  top: 7px;
  left: 0px;

  background-image: url("../img/thermometer.svg");
  height: 49px;
  width: 49px;
}

.new-articles {
  background-color: #f8f5f2;
  background-image: url("../img/strawberry-background.png");
  background-repeat: no-repeat;

  width: 560px;
  border-radius: 15px;
  padding: 27px 20px;
  box-sizing: border-box;
}

.new-articles h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;

  margin: 0;
  padding: 0;
}

.new-articles a {
  font-size: 24px;
  line-height: 30px;
  color: black;
  font-weight: bold;
  text-decoration: underline;

  display: block;
  width: 290px;
}

.new-articles a:hover,
.new-articles a:focus {
  color: #e84d37;
}

.appointment {
  background-color: #f8f5f2;
  background-image: url("../img/bg-post.svg");
  background-repeat: no-repeat;

  display: flex;
  width: 560px;
  border-radius: 15px;
  box-sizing: border-box;
  padding: 5px;
}

.appointment-item {
  border-radius: 15px;
  background-color: #f8f7f4;
  padding: 30px 20px;
}

.appointment-info {
  margin: 0 0 40px 0;
}

.appointment-subscription {
  display: flex;
}

.appointment-subscription p {
  margin-right: 10px;
  flex-grow: 1;
}

.appointment-subscription input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 15px;

  font-size: 16px;
  line-height: 22px;

  border: 0;
  box-shadow: 0 0 0 1px #9a9a9a;
  border-radius: 5px;

  color: #9a9a9a;
}

.appointment-subscription input:hover {
  box-shadow: 0 0 0 2px #9a9a9a;
  border-radius: 5px;
}

.button-email-send {
  width: 130px;
}

.map {
  padding: 0;
  margin: 0 auto;

  position: relative;

  background-color: #f8f5f2;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;

  width: 1200px;
  min-height: 430px;
  box-sizing: border-box;
}

.contacts {
  position: absolute;

  top: 63px;
  right: 27px;

  width: 302px;
  min-height: 305px;

  background-color: white;
  border-radius: 15px;
}

.map::after {
  display: block;
  content: '';

  position: absolute;
  top: 137px;
  left: 266px;

  background-image: url("../img/pin.svg");
  height: 140px;
  width: 80px;
}

.contacts-wrapper {
  padding: 25px;
}

.contacts-address {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;

  margin-bottom: 20px;
}

.contacts-address span {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.contacts-telephone {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;

  margin-bottom: 25px;
}

.contacts-telephone span {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}

.button-contacts {
  width: 100%;
}

.footer {
  display: flex;

  justify-content: space-between;
  align-items: center;

  min-height: 100px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.footer-social {
  display: flex;

  padding: 0;
  margin: 0;
}

.footer-social li {
  border-radius: 50%;
  border: 3px solid rgba(255, 255, 255, 0.5);
  line-height: 0;

  margin-right: 15px;
}

.social-button {
  opacity: 0.8;
}

.social-button:hover {
  opacity: 1;
}

.social-button:active {
  opacity: 0.5;
}

.footer-navigation {
  display: flex;
  flex-wrap: wrap;

  font-size: 13px;
  line-height: 18px;
  font-weight: 400;

  width: 350px;
  margin: 0;
  padding: 0;
}

.footer-navigation li {
  text-align: left;
  flex-basis: 50%;
}

.footer-navigation a {
  position: relative;
}

.footer-navigation a::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px;

  background-color: rgba(255, 255, 255, 0.1);
  content: "";
  transition: opacity 0.3s, transform 0.3s;
  opacity: 1;
  transform: translateY(1px);
}

.footer-navigation a:hover,
.footer-navigation a:focus,
.footer-copyright a:hover,
.footer-copyright a:focus {
  color: #ffbc9e;
}

.footer-copyright {
  margin: 0;
  padding: 0;
  text-align: left;
}

.footer-copyright b {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.accent-footer-link {
  font-weight: bold;
}

.site-navigation-current {
  background-color: #d07058;
  border-radius: 15px;
}

.navigation-search:hover .search-form {
  display: block;
}

.navigation-login:hover .login-form {
  display: block;
}

.navigation-cart {
  position: relative;
}

.navigation-cart:hover .cart-user,
.navigation-cart:focus-within .cart-user {
  display: block;
}

.cart-summary-total {
  display: flex;

  padding: 7px 15px;
  border-radius: 15px;
  background-color: white;

  color: black;
}

.navigation-cart svg {
  margin-right: 6px;
  fill: currentColor;
}

.cart-user {
  display: none;
  position: absolute;
  z-index: 1;

  top: 37px;
  right: 0;
  width: 510px;

  padding: 20px 15px;
  text-align: right;

  background-color: #f8f7f4;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.cart-items {
  padding: 0;
  border-bottom: 1px solid #cacac7;
}


.cart-item {
  display: flex;
  justify-content: space-between;

  margin-bottom: 15px;
  align-items: center;
  position: relative;
}

.remove-item {
  position: absolute;

  flex-grow: 1;
  top: 10px;
  left: 0px;

  width: 12px;
  height: 12px;

  font-size: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.remove-item::before,
.remove-item::after {
  content: "";

  position: absolute;
  top: 2px;
  left: 0px;

  width: 12px;
  height: 1px;

  background-color: black;
}

.remove-item::before {
  transform: rotate(45deg);
}

.remove-item::after {
  transform: rotate(-45deg);
}

.cart-item a {
  margin-right: 27px;

  flex: 20;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;

  text-align: left;

  color: black;
}

.cart-item a:hover {
  color: #ffbc9e;
  background-color: transparent;
}

.cart-item img {
  margin-left: 20px;
  margin-right: 10px;

  border-radius: 50%;
}

.cart-item p {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;

  color: black;
}

.cart-item span {
  color: #999999;
}

.cart-item .cart-item-cost {
  flex: 8;
  margin-right: 20px;
}

.cart-item .cart-item-total {
  flex: 4;
}

.sub-total {
  margin: 15px 0;

  color: black;
}

.button-order {
  display: inline-flex;

  justify-content: center;
  align-items: center;
  padding: 0 15px;

  color: white;
}

.cart-user .button-order:hover {
  color: white;
  border-radius: 23px;
}

.page-title {
  margin: 0 0 30px;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
  color: white;
}

.filter-items {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-end;

  padding: 0;
  margin-bottom: 15px;
}

.filter-item {
  margin-right: 15px;
}

.filter-item p {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: white;

  padding-left: 15px;
  margin-bottom: 5px;
}

.button-sorting {
  padding: 10px 15px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: white;

  background-color: #aabcb2;

  border: 0;
  border-radius: 18px;
  list-style: none;
}

.button-sorting:hover,
.button-sorting:focus {
  color: black;
}

.button-sorting:hover path,
.button-sorting:focus path {
  fill: black;
}

.cost {
  background-color: #aabcb2;
  border-radius: 18px;
  padding: 17px 20px;
}

.cost-line {
  position: relative;
  width: 178px;
  height: 3px;

  background: linear-gradient(to right, #d1dad1 14px, white 14px, white 114px, #d1dad1 114px);

}

.button-cost {
  position: absolute;

  top: -9px;

  border: 0;
  border-radius: 50%;
  background-color: white;
  background-image: url("../img/filter-button.svg");
  width: 20px;
  height: 20px;
}

.button-cost:hover {
  transform: scale(1.2);
}

.button-cost-start {
  left: 14px;
}

.button-cost-end {
  left: 112px;
}

.filter-fat-content {
  margin: 0;
  padding: 10px 0 10px 15px;

  display: flex;

  background-color: #aabcb2;
  border-radius: 18px;
  list-style: none;
}

.filter-fat-content-item {
  position: relative;
  margin-right: 15px;
  padding-left: 30px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 400;

  color: white;
}

.filter-input-radio + label::before {
  content: "";

  position: absolute;
  left: 0px;
  top: -3px;

  background-image: url("../img/radio-off.svg");
  opacity: 0.7;
  width: 25px;
  height: 25px;
}

.filter-input-radio:hover + label::before {
  opacity: 1;
}

.filter-input-radio:checked + label::before {
  content: "";

  position: absolute;
  left: 0px;
  top: -3px;

  background-image: url("../img/radio-on.svg");
  width: 25px;
  height: 25px;
}

.filter-fillers {
  margin: 0;
  padding: 10px 15px;

  display: flex;

  background-color: #aabcb2;
  border-radius: 18px;
  list-style: none;
}

.filter-filler-item {
  position: relative;
  margin-right: 15px;
  padding-left: 30px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 400;

  color: white;
}

.filter-input-checkbox + label::before {
  content: "";

  position: absolute;
  left: 0px;
  top: -1px;

  background-image: url("../img/checkbox-off.svg");
  opacity: 0.7;
  width: 23px;
  height: 23px;
}

.filter-input-checkbox:hover + label::before {
  opacity: 1;
}

.filter-input-checkbox:checked + label::before {
  content: "";

  position: absolute;
  left: 0px;
  top: -1px;

  background-image: url("../img/checkbox-on.svg");
  width: 23px;
  height: 23px;
}

.button-apply {
  padding: 8px 25px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: white;

  background-color: #aabcb2;
  border: 2px solid white;
  border-radius: 18px;
  list-style: none;
}

.button-apply:hover,
.button-apply:focus {
  color: black;
  background-color: white;
}

.breadcrumbs {
  list-style: none;

  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;

  margin: 0;
  padding: 0;
}

.breadcrumbs a {
  color: white;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  text-decoration: underline;

}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  color: #ffbc9e;
  text-decoration: underline;
}

.breadcrumbs-current {
  font-size: 14px;
  line-height: 16px;
  color: white;
}

.breadcrumbs-item {
  position: relative;
  margin-right: 20px;
}

.breadcrumbs-item::after {
  content: "»";

  position: absolute;
  top: 0px;
  right: -15px;

  width: 10px;
  height: 10px;

  color: white;
}

.breadcrumbs-item:last-child::after {
  display: none;
}

.catalog {
  margin-bottom: 50px;
}

.product {
  flex-basis: 25%;
  margin: 0 0 20px;
  padding: 10px;
  text-align: center;
  position: relative;
  box-sizing: border-box;
}

.product-view {
  position: absolute;
  bottom: -65px;
  left: 0;
  width: 100%;
  border-radius: 0 0 5px 5px;
  background: rgba(255, 255, 255, 0.2);
  padding: 0 0 20px;
  z-index: 1;
  display: none;
  box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.2);
}

.product:hover {
  border-radius: 5px 5px 0 0;
  background: rgba(255, 255, 255, 0.2);
}

.product:hover .product-view {
  display: block;
}

.product-view-button {
  padding: 0 15px;
}

.product a {
  color: white;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;

  text-decoration: underline;
  text-decoration-color: rgba(255, 255, 255, 0.3);
}

.product h3 {
  margin: 0;
}

.product-image img {
  border-radius: 50%;
}

.product-image {
  position: relative;
}

.product-list {
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 20px 0 0;
}

.product-price {
  position: absolute;
  bottom: 30px;
  left: 0;

  color: white;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.weight {
  font-size: 30px;
}

.paginator {
  margin-bottom: 25px;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  padding: 0;
  margin: 0;

  list-style: none;
}

.pagination-item a {
  padding: 5px 10px;

  color: white;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
}

.pagination-list .prev {
  margin-right: 10px;

  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
}

.pagination-list .next {
  background-image: url("../img/icon-right-small.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.pagination-list .disabled {
  opacity: 0.3;
}

.pagination-item-current a {
  background-color: white;
  border-radius: 50%;
  color: #849d8f;
}

.pagination-item a:hover {
  background-color: #9db1a5;
  border-radius: 50%;
  color: white;
}

.social-button {
  color: #ffffff;
}

.modal-feedback {
  top: 120px;
  left: 50%;

  width: 400px;
  margin-left: -230px;
  padding: 20px 25px;
}

.feedback-form {
  display: flex;
  flex-direction: column;
}

.modal-feedback h2 {
  margin: 0 0 25px 0;
  color: black;
}

.modal-feedback p {
  margin-bottom: 20px;
}

.modal-feedback input[type="text"] {
  box-sizing: border-box;
  width: 267px;
  padding: 15px;

  border: 0;
  box-shadow: 0 0 0 1px #9a9a9a;
  border-radius: 5px;

  color: #9a9a9a;
}

.modal-feedback textarea {
  box-sizing: border-box;
  width: 400px;
  padding: 15px;

  border: 0;
  box-shadow: 0 0 0 1px #9a9a9a;
  border-radius: 5px;

  color: #9a9a9a;

  resize: none;
}

.modal-feedback input:hover,
.modal-feedback textarea:hover {
  border: 0;
  box-shadow: 0 0 0 2px #9a9a9a;
  border-radius: 5px;
}

.button-send {
  align-self: flex-end;
  width: 137px;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 15px;

  width: 20px;
  height: 20px;

  font-size: 0;

  background-color: transparent;
  border: 0;

  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";

  position: absolute;
  top: 10px;
  left: 2px;

  width: 20px;
  height: 2px;

  background-color: black;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}
